<ul class="nav nav-tabs">
    <li class="active"><a href="#tab_docs_{{uid}}" onclick="return false;" data-toggle="tab">Medline Documents</a></li>
    <li><a href="#tab_nmd_{{uid}}" onclick="return false;" data-toggle="tab">NMD Connections</a></li>
    <li><a href="#tab_domine_{{uid}}" onclick="return false;" data-toggle="tab">Domine Connections</a></li>
</ul>
<div class="tab-content">
    <div id="tab_docs_{{uid}}" class="tab-pane docTableView active"></div>
    <div id="tab_nmd_{{uid}}" class="tab-pane nmdTableView"></div>
    <div id="tab_domine_{{uid}}" class="tab-pane domineTableView"></div>
</div>